service/src/conf/wsdl/ppwsp63-n_8080/ShoppingWS/ShoppingWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.shopping.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.shopping.com.br/" name="ShoppingWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.shopping.com.br/" schemaLocation="http://ppwsp63-n:8080/ShoppingWS/ShoppingWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getCart">
<part name="parameters" element="tns:getCart"/>
</message>
<message name="getCartResponse">
<part name="parameters" element="tns:cartItens"/>
</message>
<message name="newItem">
<part name="parameters" element="tns:newItem"/>
</message>
<message name="newItemResponse">
<part name="parameters" element="tns:newItemResponse"/>
</message>
<message name="deleteItem">
<part name="parameters" element="tns:deleteItem"/>
</message>
<message name="deleteItemResponse">
<part name="parameters" element="tns:deleteItemResponse"/>
</message>
<message name="ItemException">
<part name="fault" element="tns:itemException"/>
</message>
<portType name="ShoppingWS">
<operation name="getCart">
<input wsam:Action="http://services.shopping.com.br/ShoppingWS/getCartRequest" message="tns:getCart"/>
<output wsam:Action="http://services.shopping.com.br/ShoppingWS/getCartResponse" message="tns:getCartResponse"/>
</operation>
<operation name="newItem">
<input wsam:Action="http://services.shopping.com.br/ShoppingWS/newItemRequest" message="tns:newItem"/>
<output wsam:Action="http://services.shopping.com.br/ShoppingWS/newItemResponse" message="tns:newItemResponse"/>
</operation>
<operation name="deleteItem">
<input wsam:Action="http://services.shopping.com.br/ShoppingWS/deleteItemRequest" message="tns:deleteItem"/>
<output wsam:Action="http://services.shopping.com.br/ShoppingWS/deleteItemResponse" message="tns:deleteItemResponse"/>
<fault message="tns:ItemException" name="ItemException" wsam:Action="http://services.shopping.com.br/ShoppingWS/deleteItem/Fault/ItemException"/>
</operation>
</portType>
<binding name="ShoppingWSPortBinding" type="tns:ShoppingWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="newItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ItemException">
<soap:fault name="ItemException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ShoppingWS">
<port name="ShoppingWSPort" binding="tns:ShoppingWSPortBinding">
<soap:address location="http://ppwsp63-n:8080/ShoppingWS/ShoppingWS"/>
</port>
</service>
</definitions>